*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 15px 40px;
}

.logo{
    color: crimson;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover{
    color: deepskyblue;
    text-decoration: underline;
}

.hero{
    height: 90vh;
    background: linear-gradient(to right, #000428, #004e92);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span{
    color: #00bdc4;
}


.about-section{
    background: #f9f9f9;
    padding: 70px 40px;
}

.about-container{
    max-width: 900px;
    margin: auto;
}

.about-text{
    background-color: white;
    padding: 30px;
    border-left: 5px solid #00bcd4;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.about-text h2{
    margin-bottom: 15px;
    color: #333;
}

.about-text p{
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.section{
    padding: 60px 40px;
    text-align: center;
    background: #f9f9f9;
    padding: 70px 40px;
}

.section h2{
    margin-bottom: 20px;
    color: #333;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card, .project-card{
    background-color: white;
    padding: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.project-card h3{
    margin-bottom: 10px;
}

#contact{
    background: #111;
    color: white;
}